.update-process-change {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .update-process-change-container {
    width: 600px;
    margin: 0px auto;
    border-radius: 4px;
    padding: 30px 20px;
  }
  
  .update-process-change-form {
    width: 600px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
  }
  .update-process-change-form * {
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
  }
  
  .update-process-change-form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
  }
  
  .update-process-change-list-leader {
    z-index: 10;
    padding-top: 30px;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    width: 100%;
    height: 460px;
    top: 30px;
    // overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .update-process-change-list-user-send {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .update-process-change-list-user-send-input {
    background-color: gray;
    color: white;
    border-radius: 5px;
  }
  
  .update-process-change-list-user-send-input{
    padding: 6px 10px;
  }
  
  .update-process-change-list-item-name{}
  
  .update-process-change-list-user-send-find {
    padding: 5px 12px;
    border-radius: 6px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    &:hover {
      transition: all 0.3s ease;
    }
  }
  
  .update-process-change-leader-close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    color: red;
    background-color: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .update-process-change-list-item {
    padding: 8px 10px;
    cursor: pointer;
  }
  
  .update-process-change-list-item-name {
    color: black;
  }
  
  b{
    color: black;
  }
  
  .update-process-change-list-item:hover {
    background-color: lightgray;
    transition: all 0.3s ease;
    border-radius: 20px;
  }
  
  .update-process-change-label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
  }
  .update-process-change-input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
  }
  ::placeholder {
    color: #e5e5e5;
  }
  
  .update-process-change-btn {
    margin-top: 50px;
    width: 100%;
    background-color: white;
    color: black;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .update-process-change-btn:hover {
    transition: all 0.2s linear;
    color: white;
    background-color: black;
  }
  
  .update-process-change-close {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 30px;
    cursor: pointer;
    color: white;
  }
  
  .update-process-change-assign {
    border: none;
    cursor: pointer;
    padding: 6px 10px;
    border-radius: 10px;
    width: 50%;
    background-color: transparent;
    border: 1px solid white;
    color: white;
  }
  
  .update-process-change-assign:hover {
    transition: all 0.3s ease;
    background-color: white;
    color: black;
  }
  
  .pagination-btn.update-process-change-p {
    // background-color: black;
    color: black;
  }
  
  .pagination-current.update-process-change-p {
    color: black;
  }
  
  .update-process-change-list-btn {
    display: flex;
    gap: 30px;
    margin-bottom: 10px;
  }
  
  .pagination.update-process-change-p {
    margin-right: 10px;
    margin-bottom: 5px;
  }
  
  .update-process-change-input-controller {
    display: flex;
    align-items: center;
  }
  
  .update-process-change-input-label {
    width: 25%;
  }

  .update-process-change-select {
    /* color: white; */
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    color: white;
  }
  
  .update-process-change-option {
    color: black;
    cursor: pointer;
  }
  