.login {
  width: 100%;
  height: 100vh;
  background-image: url("https://res.cloudinary.com/djqxdscwh/image/upload/v1699883075/bg_vmnvqg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.login-intro-header {
  width: 1180px;
  max-width: 1180px;
  margin: 0 auto;
  position: absolute;
  top: -100px;
  left: 118px;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: -70px;
  margin-left: -60px; */
}

.login-intro-header-logo {
  color: white;
  height: 250px;
}

.login-intro-login {
  margin-right: 20px;
  border: none;
  background-color: white;
  color: black;
  border-radius: 6px;
  cursor: pointer;
  padding: 8px 18px;
  font-size: 16px;
}

.login-intro-login:hover {
  background-color: black;
  color: white;
  transition: all 0.2s linear;
}

.login-intro-register {
  border: none;
  background-color: white;
  color: black;
  border-radius: 6px;
  cursor: pointer;
  padding: 8px 18px;
  font-size: 16px;
}

.login-intro-register:hover {
  background-color: black;
  color: white;
  transition: all 0.2s linear;
}

.login-form {
  width: 400px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}
.login-form * {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
.login-title {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
  margin-bottom: 30px;
}

.login-form-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
.login-input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
::placeholder {
  color: #e5e5e5;
}

.login-footer p {
  font-size: 16px;
}

.login-btn {
  margin-top: 50px;
  width: 100%;
  background-color: white;
  color: black;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn:hover {
  transition: all 0.2s linear;
  color: white;
  background-color: black;
}

.login-footer {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.login-btn-signup {
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
  font-size: 16px;
}

.login-btn-signup:hover {
  color: black;
  transition: all 0.2s linear;
}
